<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Attendance-Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WrongPasswordServlet</display-name>
    <servlet-name>WrongPasswordServlet</servlet-name>
    <servlet-class>Attendance.WrongPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrongPasswordServlet</servlet-name>
    <url-pattern>/WrongPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotRegisteredServlet</display-name>
    <servlet-name>NotRegisteredServlet</servlet-name>
    <servlet-class>Attendance.NotRegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotRegisteredServlet</servlet-name>
    <url-pattern>/NotRegisteredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminWrongPasswordServlet</display-name>
    <servlet-name>AdminWrongPasswordServlet</servlet-name>
    <servlet-class>Attendance.AdminWrongPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminWrongPasswordServlet</servlet-name>
    <url-pattern>/AdminWrongPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrongIdServlet</display-name>
    <servlet-name>WrongIdServlet</servlet-name>
    <servlet-class>Attendance.WrongIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrongIdServlet</servlet-name>
    <url-pattern>/WrongIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chooseany</display-name>
    <servlet-name>chooseany</servlet-name>
    <servlet-class>Attendance.chooseany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseany</servlet-name>
    <url-pattern>/chooseany</url-pattern>
  </servlet-mapping>
</web-app>