@charset "ISO-8859-1";
body{
	margin: 0 auto;
	background-color:grey;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.container{
	width:500px;
	height:1300px;
	text-align:center;
	margin: 0 auto;
	background-color:rgba(179, 230, 255,0.5);
	margin-top:80px;
	box-shadow: 0 0 20px 0 Gray;
	border-radius:4px;
}
.container img{
	width:130px;
	height:130px;
	margin-top:-40px;
}
select{
        width: 80px;
        margin-right:5px;
    }
    select:focus {
        min-width: 50px;
    } 
     
input[type="text"],[type="text"],[type="password"],[type="password"],[type="email"],[type="text"],[type="text"],[type="text"],[type="text"],[type="text"]{
	margin-top:30px;
	width:300px;
	height:45px;
	font-size:18px;
	margin-bottom:20px;
	background-color: transparent;
	padding-left:40px;
	border-radius:24px;
	border: 2px solid blue;
	box-shadow: 0 0 20px 0 dodgerBlue;
	color:black;
}

textarea{
	margin-top:30px;
	width:300px;
	height:45px;
	font-size:18px;
	font-family:bold;
	margin-bottom:20px;
	margin-right:30px;
	margin-left:35px;
	background-color: transparent;
	padding-left:40px;
	border-radius:24px;
	border: 2px solid blue;
	box-shadow: 0 0 20px 0 dodgerBlue;
	color:black;
}
.ques select{
	
	
}
.container:hover
{
	background-color:rgba(179, 230, 255,0.5);
}
.btn-login{
	padding: 15px 20px;
	border: none;
	background-color:aquamarine;
	color:black;
	border-radius:70px;
}
.form-input input:hover {
  background-color:Thistle;
}
.button input:hover{
	background-color:yellowgreen;
}
.head{
	color:blue;
}
.head1{
	color:yellowgreen;
}



